<main>
  <%# モバイル用 トピ新規作成モーダル %>
  <div class="sp-only">
    <div class='sp-create-topic-button'>
      <%= react_component('sp_favorite_create_topic', {categories: @categories}) %>
    </div>
  </div>

  <div class="pankuzu">
    <%= link_to "コミュニティトップ", root_path, class: 'pankuzu-a' %> > <span class="pankuzu-a">お気に入り一覧</span>
  </div>

  <section class="frame">
    <div class="sub-left">
      <div class="favorite-topic">
        <%= react_component('favorite', {likedTopics: @liked_topics, categories: @categories, posts: @posts}) %>
        <%#= tag.div id: 'favorite', data: {react_props: {likedTopics: @liked_topics, categories: @categories, posts: @posts}} %>
      </div>
    </div>

    <div class="sub-right">
      <div class="sub-create-topic">
        <div class="sub-create-topic-title">
          <h3><span class="plus-oval"></span>トピックを作成する</h3>
        </div>
        <div class="sub-create-topic-description">
          <h5>新しいトークテーマを作ろう</h5>
          <p>美容や健康、仕事に子育てなど、女性に関するあらゆる相談から、テレビや芸能人に関する雑談など何でもOK！</p>
        </div>
        <%# トピック新規作成モーダル %>
        <%= react_component('favorite_create_topic', {categories: @categories}) %>
      </div>

      <div class="sub-ranking-topic mt-4">
        <%= render partial: "layouts/ranking", locals: { ranktopics: @ranktopics } %>
      </div>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'topics', defer: true %>
<%= javascript_pack_tag 'mount' %>

