<main class='index_main'>
  <div class="main-image">
    <%= image_tag "/images/logo_community.png", alt: 'main Logo' %>
    <p>全国の女性たちのリアルな暮らしを応援する交流掲示板です。<br>仕事や恋愛、家事に子育て、美容や健康の悩みまで、幅広い話題で盛り上がれます！ <br>合間の息抜きにぜひご利用ください。</p>
  </div>

  <section class="frame">
    <div class="left">
      <%# 新着トピック %>
      <div class="newtopic-list">
        <div class="newtopic-title">
          <h3><span class="new-clock"></span>新着トピック</span></h3>
        </div>
          <div class="new-topic">
            <% @newtopics.each do |topic| %>
                <li class="topic-item">
                  <span class="item-title"><%= link_to topic.title, topic_path(topic)%></span>
                  <%= render partial: "layouts/item", locals: { topic: topic } %>
                </li>
            <% end %>
          </div>
      </div>

      <div class="search-topic">
        <%= react_component('topics', {topics: @topics, categories: @categories, posts: @posts, topicOld: @topic_old}) %>
        <%#= tag.div id: 'topics', data: {react_props: {topics: @topics, categories: @categories, posts: @posts, topicOld: @topic_old}} %>

        <div class="topic-area" id="topic_area">
          <% if @category.present? %>
            <div class="topic-title">
              <h3><%= @category.name %>の投稿&nbsp;<%= @topics.size %>件</h3>
            </div>
            <div class="d-flex mt-3">
              <%= button_to '新着順', topics_path(anchor: 'post-anchor'), {method: :get, params: {category: @category.id, category_latest: 'true'}, class: 'topic-button' } %>
              <%= button_to '投稿順', topics_path(anchor: 'post-anchor'), {method: :get, params: {category: @category.id, category_old: 'true'}, class: 'topic-button' } %>
            </div>
          <% elsif @keyword.present? %>
            <div class="topic-title">
              <h3><i class="fa fa-hashtag fa-fw"></i><%= @keyword %>の投稿&nbsp;&nbsp;<%= @topics.size %>件</h3>
            </div>
            <div class="d-flex mt-3">
              <%= button_to '新着順', topics_path(anchor: 'post-anchor'), {method: :get, params: {keyword: @keyword, keyword_latest: 'true'}, class: 'topic-button' } %>
              <%= button_to '投稿順', topics_path(anchor: 'post-anchor'), {method: :get, params: {keyword: @keyword, keyword_old: 'true'}, class: 'topic-button' } %>
            </div>
          <% end %>

          <%# トピック一覧 %>
          <% @topics.each do |topic|%>
            <li class="topic-item">
              <span class="item-title"><%= link_to topic.title, topic_path(topic) %></span>
              <%= render partial: "layouts/item", locals: { topic: topic } %>
            </li>
          <% end %>
          <%#= paginate @topics, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap" %>
        </div>
      </div><%# .search-topic %>
    </div><%# .left %>

    <div class="right">
      <div class="create-topic">
        <div class="create-topic-title">
          <h3><span class="plus-oval"></span>トピックを作成する</h3>
        </div>
        <div class="create-topic-description">
          <h5>新しいトークテーマを作ろう</h5>
          <p>美容や健康、仕事に子育てなど、女性に関するあらゆる相談から、テレビや芸能人に関する雑談など何でもOK！</p>
        </div>
        <%= react_component('create_topic', {categories: @categories}) %>
      </div>

      <div class="category-search" id='post-anchor'>
        <p><span class='category-icon'></span>カテゴリーで探す</p>
        <div class="category-button">
          <% @categories.each do |category| %>
            <%= link_to category.name, topics_path(category: category.id, anchor: 'post-anchor'),  class: 'button d-button' %>
          <% end %>
        </div>
      </div>

      <div class="tag-serch">
        <p><span class='tag-icon'></span>タグで探す</p>
        <div class="tag-button">
          <% @tags.each do |tag| %>
            <%= link_to "##{tag}", topics_path(keyword: tag, anchor: 'post-anchor'),  class: 'button' %>
          <% end %>
        </div>
      </div>


      <div class="ranking-topic">
        <%= render partial: "layouts/ranking", locals: { ranktopics: @ranktopics } %>
      </div>
    </div><%# .right %>
  </section><%# .frame %>
  <div id="page_top"></div>

</main>

<%= javascript_pack_tag 'topics', defer: "defer" %>

<% if @category.present? || @keyword.present? %>
  <%= javascript_pack_tag 'mountParams', defer: true %>
<% else %>
  <%= javascript_pack_tag 'mount', defer: true %>
<% end %>
