<main>
  <%# モバイル用 トピ新規作成モーダル %>
  <div class="sp-only">
    <div class='sp-create-topic-button'>
      <%= react_component('sp_create_topic', {categories: @categories}) %>
    </div>
  </div>

  <div class="pankuzu">
    <%= link_to "コミュニティトップ", root_path, class: 'pankuzu-a' %> > <%= link_to @topic.category.name, topics_path(category: @topic.category.id, anchor: 'post-anchor'), class: 'pankuzu-a' %> > <span class="pankuzu-a"><%= @topic.title %></span>
  </div>

  <section class="frame">
    <div class="sub-left">
      <article class="article-topic">
        <div class="article-title">
          <h3><span class='comment-big'></span><%= @topic.title %></h3>
        </div>
        <div class="article-parts">
          <div class="parts-category mb-1">
            <p><%= @topic.category.name %></p>
          </div>
          <div class="parts-tag">
          </div>
          <div class="parts-time">
            <p><%= l @topic.created_at, format: :short %></p>
          </div>
        </div>
        <div class="article-detail">
          <h5><span class="user"></span><%= @topic.name %></h5>
          <p><%= simple_format(h(@topic.description)) %></p>
        </div>
        <div class="article-sns" id="comment-target">
          <%# いいね %>
          <div id='like-of-<%= @topic.id %>'>
            <%= render 'layouts/like', locals: { topic: @topic } %>
          </div>

          <div>
            <%= link_to "#", class: 'text-decoration-none' do %>
              <%# <i class='fa fa-twitter fa-3x fa-fw'></i> %>
              <span class="sp-twitter"></span>
            <% end %>
            <%= link_to "#", class: 'text-decoration-none' do %>
              <span class="sp-instagram"></span>
            <% end %>
          </div>
        </div>
      </article>

      <article class="article-comment" id="show-anchor">
        <%= react_component('post_comment', {topic: @topic, postsLatest: @posts_latest}) %>
        <%#= tag.div id: 'post-comment', data: {react_props: {topic: @topic, posts: @posts}} %>
      </article>
      <%#= button_to '新着順', topic_path(@topic, anchor: 'show-anchor'), {method: :get, params: {latest: 'true'}, class: 'topic-button my-2 ms-4'} %>
      <%#= button_to '投稿順', topic_path(@topic, anchor: 'show-anchor'), {method: :get, params: {old: 'true'}, class: 'topic-button my-2'} %>
    </div><%# .sub-left %>

    <div class="sub-right">
      <div class="sub-create-topic">
        <div class="sub-create-topic-title">
          <h3><span class="plus-oval"></span>トピックを作成する</h3>
        </div>
        <div class="sub-create-topic-description">
          <h5>新しいトークテーマを作ろう</h5>
          <p>美容や健康、仕事に子育てなど、女性に関するあらゆる相談から、テレビや芸能人に関する雑談など何でもOK！</p>
        </div>
        <%= react_component('create_topic', {categories: @categories}) %>
      </div>

      <div class="sub-ranking-topic mt-4">
        <%= render partial: "layouts/ranking", locals: { ranktopics: @ranktopics } %>
      </div>
    </div>
  </section>
  <div id="page_top"></div>
</main>

<%= javascript_pack_tag 'topics', defer: true %>
<%= javascript_pack_tag 'mount' %>