<div class="modal-body">
  <div class="mb-3">
    <%= f.label :name, "ニックネーム", class: "col-form-label me-1" %><span class="badge bg-danger">必須</span>
    <%= f.text_field :name, class: "form-control", placeholder: '20文字以内', required: 'required' %>
  </div>
  <div class="mb-3">
    <%= f.label :title, "内容の入力", class: "col-form-label me-1 mb-1" %><span class="badge bg-danger">必須</span>
    <%= f.text_field :title, class: "form-control mb-1", placeholder: 'タイトルを入力 (48文字以内)', required: 'required' %>
    <%= f.text_area :description, class: "form-control", rows: 6, placeholder: '内容を入力', required: 'required' %>
  </div>
  <div class="mb-3">
    <%= f.label :category_id, "カテゴリを選択", class: "col-form-label me-1" %><span class="badge bg-danger">必須</span>
    <%= f.select :category_id, categories.map { |category| [category.name, category.id] }, {}, class: 'form-select' %>
  </div>
</div>
<div class="modal-footer me-1">
  <button type="button" class="inner-close-btn" data-bs-dismiss="modal">閉じる</button>
  <%= f.submit '作成する', class: 'inner-create-btn' %>
</div>