<!DOCTYPE html>
<html>
  <head>
    <title>WOMAN BASE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="女性のための情報プラットフォーム">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Noto+Sans+JP:wght@200;300;400&family=Open+Sans&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# ↓ turbolinksのエラー回避。だが、キャッシュなどがあっても強制的に再度リロードしてしまうため、表示スピードが遅くなる %>
    <meta name="turbolinks-visit-control" content="reload">
    <script src="https://kit.fontawesome.com/2d6f3622dc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
