<!DOCTYPE html>
<html>
  <head>
    <title>WOMAN BASE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="女性のための情報プラットフォーム">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Noto+Sans+JP:wght@200;300;400&family=Open+Sans&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/2d6f3622dc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <p class="headercopy">女性のための交流掲示板</p>
      <div class="header-logo-menu">
        <div class="logo-area">
          <%= link_to root_path do %>
            <%= image_tag "/images/logo.png", alt: 'WOMAN BASE Logo' %>
          <% end %>
        </div>

        <nav class="pc-only">
          <button class="pc-register-button" type="button"><a href="#">新規会員登録</a></button>
          <button class="pc-login-button" type="button"><a href="#">ログイン</a></button>
        </nav>

        <nav class="sp-only">
          <button class="header-button"><span></span></button>
          <ul class="sp-nav">
            <button class="sp-login-button" type="button"><a href="#">ログイン</a></button>
            <li><%= link_to 'コミュニティ', root_path, class: 'header-nav-item', id: 'community-nav' %></li>
            <li id="media-nav" class="header-nav-item"><a href="#">マガジン</a></li>
            <li id="about-nav" class="header-nav-item"><a href="#">サイトについて</a></li>
            <div class="spnav-sns">
              <%= link_to "#", class: 'text-decoration-none' do %>
                <%# <i class='fa fa-twitter fa-3x fa-fw'></i> %>
                <span class="sp-twitter"></span>
              <% end %>
              <%= link_to "#", class: 'text-decoration-none' do %>
                <span class="sp-instagram"></span>
              <% end %>
            </div>
            <div class="sp-logo">
              <%= link_to root_path do %>
                <%= image_tag "/images/logo.png", alt: 'WOMAN BASE Logo' %>
              <% end %>
            </div>
          </ul>
          <button class="sp-register-button" type="button"><a href="#">新規会員登録</a></button>
          <br>
        </nav>
      </div><%# .header-logo-menu%>
    </header>

    <nav class="pc-only">
      <ul class="pc-nav">
        <li><%= link_to 'コミュニティ', root_path, class: 'header-nav-item', id: 'community-nav' %></li>
        <li id="media-nav" class="header-nav-item"><a href="#">マガジン</a></li>
        <li id="about-nav" class="header-nav-item"><a href="#">サイトについて</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <div class="footer-top">
        <div class="footer-sns">
          <%= link_to "#", class: 'text-decoration-none' do %>
            <%# <i class='fa fa-twitter fa-3x fa-fw'></i> %>
            <span class="twitter"></span>
          <% end %>
          <%= link_to "#", class: 'text-decoration-none' do %>
            <span class="instagram"></span>
          <% end %>
        </div>
      </div>

      <div class="copyright">
        <div class="footer-logo">
          <%= image_tag "/images/logo.png", alt: 'Footer Logo' %>
        </div>
        <p>Copyright © 2023 Woman Base.</p>
      </div>
    </footer>

    <script>
      $('.header-button').on('click', function () {
        $('body').toggleClass('open');
      });

      $('#end-comment-button').click(function(){
        $("html, body").animate({
          scrollTop: 380
        });
      });
    </script>
  </body>
</html>
